html{-webkit-text-size-adjust:100%;line-height:1.15}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}html{box-sizing:border-box;font-size:62.5%;height:100%}*,:after,:before{box-sizing:inherit}body{font-family:Fira Sans Condensed,sans-serif;font-size:1.8rem}body.body-scroll{padding-top:8.6rem}a{text-decoration:none}img{height:auto;width:100%}.titulo{margin:5rem 0 3rem;text-align:center;text-transform:uppercase}h1,h2,h3{font-family:Fira Sans Condensed,sans-serif;font-weight:900;margin:2rem 0}h1{font-size:4rem}h2{font-size:3.6rem}h3{font-size:3rem}.text-center{text-align:center}[class$=__heading]{font-family:Fira Sans Condensed,sans-serif;font-weight:900;margin:6rem 0 3rem;text-align:center}[class$=__descripcion]{color:#1e293b;font-size:1.8rem;font-weight:300;margin-bottom:5rem;text-align:center}.home__imagenCarrucel{max-height:65rem;overflow:hidden;position:relative}.home__overlay{background:#1f2020;background:linear-gradient(180deg,rgba(31,32,32,.452),rgba(0,0,0,.734));display:flex;flex-direction:column;height:100%;position:absolute;width:100%}.home__contenidoimagen{padding-top:8rem}@media (min-width:768px){.home__contenidoimagen{margin:0 auto;padding-top:18rem;width:min(95%,140rem)}}.home__contenidoimagen h2{color:#fff;font-size:clamp(3rem,-.8rem + 10vw,7rem)}.home__contenidoimagen a{background-color:#3282bb;border:none;color:#fff;font-size:1.8rem;font-weight:700;padding:1.5rem 4rem;text-align:center;transition-duration:.3s;transition-property:background-color}.home__contenidoimagen a:hover{background-color:#276693;cursor:pointer}.home picture{display:block;width:100%}.home__nosotros{margin:0 auto;padding-top:2rem;width:min(95%,140rem)}@media (min-width:768px){.home__nosotros{display:grid;gap:1rem;grid-template-columns:repeat(4,1fr)}}.home__nosotros-contenedorIcono{text-align:center}.home__nosotros-contenedorIcono h3{font-weight:500;text-transform:uppercase}.home__socios{margin:0 auto;text-align:center;width:min(95%,140rem)}.home__socios-titulo{margin:5rem 0 3rem;text-transform:uppercase}.home__socios-contenedorSocios{display:grid;justify-content:center}@media (min-width:768px){.home__socios-contenedorSocios{display:flex;justify-content:space-around}}.home__socios-contenedorSocios-imagen{height:10rem;width:10rem}.home__mapa{margin:0 auto;position:static;text-align:center;width:min(95%,140rem);z-index:0}.home__mapa-titulo{margin:5rem 0 3rem;text-transform:uppercase}.mapa{height:45rem;margin-top:5rem}.mapa__heading{margin:0;text-align:left}.mapa__texto{font-size:1.8rem;margin:0}.catalogo__titulo{margin:5rem 0 2rem;text-align:center}.catalogo__contenedor{background-image:url(../img/catalogo.webp);background-repeat:no-repeat;background-size:cover;height:55rem}.catalogo__overlay{background:#1f2020;background:linear-gradient(180deg,rgba(31,32,32,.452),rgba(0,0,0,.734));display:flex;flex-direction:column;height:100%;justify-content:space-around;width:100%}.catalogo__textoimagen{margin:0 auto;width:min(95%,140rem)}.catalogo__textoimagen h2{color:#fff;margin:0}.catalogo__tabs{display:block;gap:.1rem}@media (min-width:768px){.catalogo__tabs{display:flex;gap:.5rem;justify-content:center;margin:0 auto;width:min(95%,60rem)}}.catalogo__tabs button{background-color:#3282bb;border:none;color:#fff;display:block;font-size:1.2rem;font-weight:700;margin:0;padding:1rem;text-transform:uppercase;transition:background-color .3s ease;width:100%}@media (min-width:768px){.catalogo__tabs button{font-size:1.5rem;margin-top:1rem}}.catalogo__tabs button:hover{background-color:#276693;cursor:pointer}.catalogo__tabs button.actual{background-color:#fff;border:1px solid;color:#3282bb}.catalogo__productocontenedor{border:1px solid #7f8ea3;border-radius:.8rem;box-shadow:0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3);color:#1b262c;margin-top:3rem;padding:3rem;text-align:center}.catalogo__productocontenedor__nombre{font-size:2.6rem;font-weight:900;margin:2rem 0}.catalogo__contenedorProductos{display:grid;gap:3rem;grid-template-columns:repeat(1,1fr)}@media (min-width:768px){.catalogo__contenedorProductos{display:grid;gap:3rem;grid-template-columns:repeat(3,1fr)}}.catalogo__grid{display:none}.mostrarcatalogo{display:grid}.contacto,.mostrarcatalogo{margin:0 auto;width:min(95%,140rem)}.contacto__formulario{display:flex;flex-direction:column}.contacto__formulario-fieldset{border:none;margin-top:1rem;padding:0}.contacto__formulario-legend{color:#3282bb;font-size:2.2rem;margin-bottom:2rem}.contacto__formulario-campo{display:flex;flex-direction:column;gap:1rem;margin:1.5rem 0}.contacto__formulario-label{color:rgba(27,38,44,.9);display:block;font-size:1.8rem}.contacto__formulario-input,.contacto__formulario-textarea{border:1px solid #000;border-radius:.5rem;padding:1rem}.contacto__formulario-submitCorreo{background-color:#3282bb;border:none;color:#fff;font-size:1.8rem;font-weight:700;padding:1.5rem 4rem;text-align:center;transition-duration:.3s;transition-property:background-color}.contacto__formulario-submitCorreo:hover{background-color:#276693;cursor:pointer}.header{background-color:rgba(2,2,2,.911);display:none}@media (min-width:768px){.header{display:block}.header.fijo{box-shadow:.3rem .2rem .3rem #333;left:0;position:fixed;top:0;transition:all .5s ease-in;transition-duration:.3s;width:100%;z-index:1}}.header__logo,.header__logo img{height:5rem;width:5rem}.header__enlace{color:#fff;display:block;font-size:2rem;padding:2rem}@media (min-width:768px){.header__enlace{display:inline-block}}.header__enlace--actual,.header__enlace:hover{background-color:#fff;color:#000}.header__contenedor{align-items:center;text-align:center}@media (min-width:768px){.header__contenedor{display:flex;justify-content:space-between;margin:0 auto;width:min(95%,140rem)}}.movil{display:block}@media (min-width:768px){.movil{display:none}}.movil__contenedor{align-items:center;background-color:rgba(2,2,2,.911);display:flex;justify-content:space-between}.movil__logo{margin-left:3rem;width:5rem}.movil__barras{cursor:pointer;margin-right:3rem;width:4.5rem}.movil__navegacion{background-color:rgba(2,2,2,.911);display:flex;flex-direction:column;height:0;opacity:0;text-align:center;transition:visibility .3s ease-in-out,opacity .5s linear;visibility:hidden}.show{height:auto;opacity:1;visibility:visible}.footer{background-color:#181616;color:#fff;margin-top:5rem;padding-top:3rem;position:absolute;width:100%}.footer__grid{align-items:center;margin:0 auto;width:min(95%,140rem)}@media (min-width:768px){.footer__grid{display:grid;gap:3rem;grid-template-columns:repeat(3,1fr)}}.footer__contenido{align-items:center;display:flex;flex-direction:column;justify-content:center}@media (min-width:768px){.footer__contenido{align-items:flex-start;justify-content:flex-start}}.footer__redes{display:flex;gap:2rem;justify-content:center;margin:4rem 0}@media (min-width:768px){.footer__redes{justify-content:flex-end}}.footer__redes a{color:#fff;display:inline-block;font-size:3rem;font-style:normal;text-rendering:auto}.footer__logo{width:5rem}.footer__texto{text-align:center}.footer__copyright{align-items:center;background-color:#000;display:flex;gap:1rem;justify-content:center}.footer__copyright picture{width:3rem}.footer__contactanos,.footer__contactanos-contenedor{text-align:center}.footer__contactanos-contenedor p{margin:1rem 0;text-transform:uppercase}.footer__contactanos-contenedor div{align-items:center;display:flex;gap:1rem;justify-content:center}.contenedorbtn{align-items:center;background-color:#3a9188;border-radius:50%;bottom:1rem;box-shadow:0 1px 10px rgba(0,0,0,.4);left:4rem;position:fixed;right:0;text-align:center;transition:all .5s ease;width:6rem;z-index:999}.contenedorbtn .btnwhat{color:#fff}.contenedorbtn:hover{background-color:#fff}.contenedorbtn:hover .btnwhat{color:#3a9188}

.contenedorPromocion-modal{
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.btn{
    background-color: #3282bb;
    padding: 1.5rem 4rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    /* transition-property: background-color; */
    transition-duration: .3s;

  
}
.btn:hover{
    background-color: #044370;
    cursor: pointer;
}

.modal{
    position: absolute;
    background-color: rgb(0, 0, 0 , .8);
    padding-top: 90rem;
    padding-bottom: 109rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 10; 
   
   
}





.contenedorModal{
    max-width: 50rem; 
    background-color: white;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-30rem);
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
    opacity: 0;
    border-radius: 1rem;

}

.animar{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}
.cerrarModal{
    transform: translateY(-200%);
    opacity: 0;
    padding: 0;
    
}
.modal__btncerrar{
    background-color: #bb3232;
    padding: 1.5rem 4rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    /* transition-property: background-color; */
    transition-duration: .3s;
}
.modal__btncerrar:hover{
    cursor: pointer;
    background-color: #7a0a0a;
}

.oferta{
    font-weight: 300;
}
.ofertaSpan{
    font-weight: 700;
}
.opciones{

}
/*# sourceMappingURL=app.css.map */
